<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.OrderMapper">
<insert id="insertOrderInfo" parameterType="OrderInfoDTO">
INSERT INTO CAFE_ORDER_INFO
(
	ORD_INFO_NO,
	ORD_TOT_PRICE,
	REAL_ORD_PRICE,
	ORD_PAYMENT,
	ORD_DT_DATE,
	ORD_STAT,
	USR_RCV_TIME,
	RCV_YN,
	USER_NO,
	REGNO,
	REGDATE,
	ORD_TID
) VALUES (
	#{ordInfoNo},
	#{ordTotPrice},
	#{realOrdPrice},
	#{ordPayment},
	NOW(),
	'1',
	#{usrRcvTime},
	#{rcvYn},
	#{userNo},
	#{userNo},
	NOW(),
	#{ordTid}
)
</insert>
<insert id="insertOrderItem" parameterType="list">
INSERT INTO CAFE_ORDER_ITEM
(
	ORD_INFO_NO,
	MENU_NO,
	ORD_AMNT,
	REGNO,
	REGDATE
) VALUES (
	<foreach collection="list" item="item" index="index" separator=",">
		((SELECT 
			ORD_INFO_NO
				FROM CAFE_ORDER_INFO
				WHERE USER_NO = #{item.regNo}
				ORDER BY REGDATE
				DESC LIMIT 1
		),
		#{item.menuNo},
		#{item.ordAmnt},
		#{item.regNo},
		NOW()
		)
	</foreach>
)
</insert>
<select id="selectOrderList" parameterType="String" resultType="TotalOrderInfoDTO">
SELECT
	ORD_INFO_NO,
	ORD_TOT_PRICE,
	DATE_FORMAT(ORD_DT_DATE, '%Y-%m-%d'),
	ORD_STAT
FROM
	CAFE_ORDER_INFO
WHERE
	USER_NO = #{userNo}
ORDER BY
	ORD_INFO_NO
DESC LIMIT 5
</select>
<select id="selectMenuList" parameterType="String" resultType="TotalOrderItemDTO">
SELECT
	CM.MENU_NAME,
	CM.MENU_PRICE,
	COT.ORD_AMNT
FROM
	CAFE_ORDER_INFO COI,
	CAFE_ORDER_ITEM COT,
	CAFE_MENU CM
WHERE
	COT.ORD_INFO_NO = COI.ORD_INFO_NO
	AND
		COI.ORD_INFO_NO = #{orderNo}
	AND
		COT.MENU_NO = CM.MENU_NO
</select>
<select id="getTotalOrderInfoList" resultType="TotalOrderInfoDTO">
SELECT
	COI.ORD_INFO_NO AS ordInfoNo,
	COI.ORD_TOT_PRICE AS ordTotPrice,
	COI.ORD_PAYMENT AS ordPayment,
	DATE_FORMAT(COI.ORD_DT_DATE, '%Y-%m-%d') AS ordDtDate,
	COI.ORD_STAT AS ordStat,
	COI.USR_RCV_TIME AS usrRcvTime,
	COI.RCV_TIME AS rcvTime,
	COI.RCV_YN AS rcvYn,
	COI.ORD_CANCEL_YN AS ordCancelYn,
	COI.ORD_CANCEL_TIME AS ordCancelTime,
	UC.NAME AS userName,
	COI.ORD_TID AS ordTid
FROM
	USER_CAFE UC, CAFE_ORDER_INFO COI
WHERE
	COI.ORD_INFO_NO = COI.ORD_INFO_NO
	AND UC.USER_NO = COI.USER_NO
	AND COI.ORD_STAT <![CDATA[<]]>4
</select>
<select id="getTotalOrderItemList" resultType="TotalOrderItemDTO" parameterType="string">
SELECT
	CM.MENU_NAME AS menuName,
	CM.MENU_PRICE AS menuPrice,
	COT.ORD_AMNT AS ordAmnt
FROM
	CAFE_ORDER_INFO COI,
	CAFE_ORDER_ITEM COT,
	CAFE_MENU CM
WHERE
	COT.ORD_INFO_NO = COI.ORD_INFO_NO
	AND
		COI.ORD_INFO_NO = #{orderNo}
	AND
		COT.MENU_NO = CM.MENU_NO
</select>
<update id="updateAdminOrderProc" parameterType="hashMap">
	<choose>
		<when test="statNo == 4">
			UPDATE
				CAFE_ORDER_INFO
			SET
				ORD_STAT = #{statNo}
				USR_RCV_TIME = NOW()
			WHERE
				ORD_INFO_NO = #{ordNo}
		</when>
		<when test="statNo == 5">
			UPDATE
				CAFE_ORDER_INFO
			SET
				ORD_STAT = #{statNo},
				ORD_CANCEL_YN = 'Y',
				ORD_CANCEL_TIME = NOW()
			WHERE
				ORD_INFO_NO = #{ordNo}
		</when>
		<otherwise>
			UPDATE
				CAFE_ORDER_INFO
			SET
				ORD_STAT = #{statNo}
			WHERE
				ORD_INFO_NO = #{ordNo}
		</otherwise>
	</choose>
</update>
<select id="getOrderNo" resultType="OrderInfoDTO" parameterType="String">
SELECT
	ORD_INFO_NO
FROM
	CAFE_ORDER_INFO
WHERE
	USER_NO = #{userNo}
ORDER BY
	REGDATE
DESC LIMIT 1;
</select>
<select id="getOrdItem" parameterType="OrderInfoDTO" resultType="OrderItemDTO">
SELECT 
	M.MENU_NAME,
	O.ORD_AMNT
FROM
	CAFE_ORDER_ITEM O,
	CAFE_MENE M
WHERE
	O.MENU_NO = M.MENU_NO
	AND
		O.ORD_INFO_NO = #{ordInfoNo}
</select>
<update id="updateOrderCancel" parameterType="String">
UPDATE
	CAFE_ORDER_INFO
SET
	STAT_NO = 5
WHERE
	ORD_TID = #{ordTid}
</update>
</mapper>